include mixins/message

doctype html
html(lang="ko")
    head
        meta(property="og:type", content="Wetube")
        meta(property="og:url", content="https://youtube-clone-indante.herokuapp.com/")
        meta(property="og:title", content="Wetube")
        meta(property="og:image", content="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F2351%2FPNG%2F512%2Flogo_youtube_icon_143199.png&imgrefurl=https%3A%2F%2Ficon-icons.com%2Ficon%2Flogo-youtube%2F143199&tbnid=h0yAC2GM0ri1cM&vet=12ahUKEwjBiazsoIrxAhWWC94KHbiDCuAQMygEegUIARDFAQ..i&docid=aaIrFWQBQvhlTM&w=512&h=512&q=Youtube%20icon&ved=2ahUKEwjBiazsoIrxAhWWC94KHbiDCuAQMygEegUIARDFAQ")
        meta(property="og:description", content="YouTube clone by indante")
        meta(property="og:site_name", content="Wetube")
        meta(property="og:locale", content="ko-kr")
        meta(property="og:image:height", content="630")
        meta(property="og:image:width", content="1200")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        if messages.success
            +message("sucess", messages.success)
        include partials/header                
        main
            block content
        include partials/footer
    script(src="/static/js/main.js") 
    block scripts